* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  overflow: hidden;
  background: black;
  background-image: radial-gradient(at 47% 33%,
      hsl(282, 92%, 19%) 0,
      transparent 59%),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);
}
main{
  width: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.main-logo {
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 80px;
  min-width: 40px;
  animation: onLoadLogo 2s ease-in-out 0s 1 forwards;
  position: absolute;
  z-index: 15;
}

@keyframes onLoadLogo {
  0% {
    opacity: 0.3;
    max-width: 0;
  }

  30%,
  70% {
    max-width: 150px;
    opacity: 1;
    top: 40%;
  }

  100% {
    max-width: 80px;
    top: 10px;
  }
}

canvas {
  background: #22222250;
  display: none;
}

button {
  padding: 10px 15px;
  font-size: 12px;
  background: #333;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #666;
}

.start-screen,
.game-over {
  width: auto;
  max-width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.start-screen {

  opacity: 0;
  transform: translateY(-100vh);
  top: 30%;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: onLoad 1.2s ease-in-out 2s 1 forwards;
}

@keyframes onLoad {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  33% {
    opacity: 0.3;
    transform: translateY(0vh);
  }

  70% {
    opacity: 0.6;
    transform: translateY(-5vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.start-screen>button:first-of-type {
  background-color: seagreen;
  font-size: 14px;

  &:hover {
    background-color: green;
  }
}

.start-screen>button:nth-of-type(2):hover {
  background-color: steelblue;
}

.game-over {
  top: 40%;
  display: none;
  gap: 10px;
  padding: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gameover-head {
  font-family: cursive;
  font-size: 28px;
}
.highest-score{
  color: steelblue;
  font-size: 20px;
}

.final-score-para {
  font-size: 14px;
  font-weight: 500;
}

.final-score-para>b:nth-last-of-type() {
  font-size: 16px;
  font-weight: 600;
}

.tryAgainBtn {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.tryAgainBtn:hover {
  background-color: orangered;
}

.feedback-btn a {
  color: #fff;
  text-decoration: none;
}

input {
  min-width: 150px;
  width: 95%;
  max-width: 250px;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff20;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: cursive;
  border: none;
}

.small-para {
  font-size: 12px;
  margin: 2px;
  text-align: center;
}

#qr {
  width: 150px;
  margin-bottom: 15px;
}

.btns-box {
  width: 100%;
  position: absolute;
  top: 15px;
  z-index: 10;
  align-items: center;
  opacity: 0;
  animation: onLoadBtnsSide 1.2s ease-in-out 2.2s 1 forwards;
}

@keyframes onLoadBtnsSide {
  0% {
    width: 0;
    display: none;
    opacity: 0;
  }

  30% {
    top: 20px;
  }

  100% {
    width: 100%;
    display: flex;
    opacity: 1;
    justify-content: space-between;
    top: 10px;
  }
}

#pauseBtn,
#shareBtn {
  width: auto;
  padding: 8px 5px;
  z-index: 10;
  margin: 0 10px;
}

#pauseBtn:hover {
  background-color: lightblue;
  color: #000;
}

#shareBtn:hover {
  background-color: orangered;
}

footer {
  position: absolute;
  bottom: 5px;
  color: #444;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 0.5;

  >a {
    color: #555;
    font-weight: 500;
  }
}